@use "variables" as var;

body,
html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  color: 2c3e50;
  max-height: 100vh;
  font-size: var.$fontsize;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var.$body_bg;
}
