@use "variables" as var;
@use "base";

img {
  max-width: 100%;
  padding: 1rem 1rem 0 1rem;
  display: inline-block;
  border-radius: 10px;
}
.main_container {
  width: 20rem;
  border-radius: 20px;
  background-color: var.$bg;
  display: flex;
  flex-direction: column;
  padding: 0 0 2% 0;

  h1 {
    color: var.$text_blue;
    font-size: 1.5rem;
    padding: 0 1.5rem;
    text-align: center;
  }

  p {
    margin: 0;
    padding: 0 2rem;
    color: var.$text_grey;
    text-align: center;
  }
}
